
@{
    ViewBag.Title = "Trabajadores";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Trabajadores</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Trabajadores</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-success" data-target="#MyModalColaborador" data-toggle="modal"><i class="nav-icon fas fa-plus"></i> Añadir</button>
            </div>

        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">


                    @foreach (var info in ViewBag.InfoUsuarios)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    @info.Tipo
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@info.Nombre, <br />@info.Apellidos</b></h2>
                                            <p class="text-muted text-sm"><b>Email: </b> @info.Email </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Municipalidad de Yanahuara</li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono : 958726544</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="~/Content/dist/img/user2-160x160.jpg" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>
                                        <a href="/Workers/Perfil" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> Ver Perfil
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <nav aria-label="Contacts Page Navigation">
                    <ul class="pagination justify-content-center m-0">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                    </ul>
                </nav>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal para crear colaborador -->
<div class="modal" id="MyModalColaborador" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/Workers/Nuevo" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputApellidos">Apellidos</label>
                            <input type="text" class="form-control" id="inputApellidos" name="Apellidos" placeholder="Apellidos">
                        </div>
                        <div class="form-group">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" name="Nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="inputDireccionl">Dirección</label>
                            <input type="text" class="form-control" id="inputDireccion" name="Direccion" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <label for="inputTelefono">Télefono</label>
                            <input type="text" class="form-control" id="inputTelefono" name="Telefono" placeholder="Télefono">
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-block btn-success">Crear Colaborador</button>
                        <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Fin Modal crear colaborador -->